/* body {
  margin: 0;
} */

.genre-playlist-container {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  height: 100%;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgb(36, 36, 36);
  /* overflow: auto; */
}

.genre-playlist-container-img-title-container {
  display: flex;
  flex-direction: row;
}

.genre-playlist-img {
  border-radius: 8px;
}

.genre-playlist-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(156 163 175);
  /* padding: 10px; */
}

.genre-playlist-container-img-title-container-title {
  margin-left: 30px;
  align-items: flex-start;
}

.genre-playlist-container-cover-artist-name {
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.genre-playlist-row:hover {
  background-color: rgb(71, 71, 71);
}

.album-image-container {
  position: relative;
  display: inline-block; /* Ensure proper positioning within table cell */
  vertical-align: middle;
}

.track-number-play-button-container {
  position: relative;
  display: inline-block; /* Ensure proper positioning within table cell */
}

.track-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1; /*Initially shows the track number*/
  transition: opacity 0.3s ease;
  z-index: 1;
  padding-left: 16px;
}

.genre-playlist-row:hover .track-number {
  opacity: 0; /*Hide the track number when row is hovered*/
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /*Initially hide the play button*/
  transition: opacity 0.3s ease;
  z-index: 10000;
  padding-left: 16px;
}

.genre-playlist-row:hover .play-button {
  opacity: 1;
}

/* .album-image-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /*Initially hide the play button
  transition: opacity 0.3s ease;
  z-index: 1;
} */

/* .album-image-container:hover .album-image-play-button {
  opacity: 1;
} */

.album-image {
  border-radius: 8px;
}

.play-button-icon {
  height: 24px;
  width: 24px;
  object-fit: cover;
  color: #ddd;
  z-index: 1000;
}
