.card-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 0 30px 20px 30px;
  border-radius: 8px;
  background-color: rgb(59, 58, 58);
}

.card-container:hover {
  background-color: rgb(71, 71, 71);
}

.card-container-pic-container-pic {
  height: 160px;
  width: 160px;
  object-fit: cover;
  border-radius: 8px;
}

h3 {
  inline-size: 160px;
  color: rgb(225, 226, 227);
}

.card-container-btn-container-button {
  border-radius: 8px;
}
